* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(226, 226, 226);
}

body {
  background-color: rgb(42, 42, 42);
  font-family: 'Poppins', sans-serif;
}

.text-red-color {
  color: rgb(224, 56, 44);
}

#nav-main {
  background-color: rgb(42, 42, 42);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  width: 100%;
}

#nav-logo {
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: bolder;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  min-width: 35%;
  list-style: none;
  font-size: 14px;
}

#nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
}

#nav-links a:hover {
  color: rgb(224, 56, 44);
}

/* PROFILE PICTURE */
#header-main {
  display: flex;
  justify-content: space-around; 
  background: rgba(42, 42, 42, 0.7) url(./images/mountain.jpg);
  height: 700px;
  background-size: cover;
  background-position-y: -150px;
  background-blend-mode: darken;
}

#profile-picture {
  position: absolute;
  width: 250px;
  margin-top: 200px;
  border-radius: 100%;
  padding: 5px;
  background-color: rgb(224, 56, 44);
  transition: 300ms;
}

#profile-picture:hover {
  width: 260px;
}

#my-name {
  position: absolute;
  top: 450px;
  font-size: 26px;
}

#main-description {
  position: absolute;
  top: 520px;
  font-size: 18px;
}